html
  head
  title='any title'
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet")
  style
    include style.css
  body
    h1(class='title')='Backend Playground'
    div(class='flex')
      each anime in data
        p= anime.title
        p=anime.characters
        p=anime.description